*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.inpyt {
  font-family: inherit;
}

/*-----------header------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-page-nav {
  display: flex;
  align-items: center;
}

.logo {

}

.logo-page-nav .logo-link {
  margin-right: 76px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-link .link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active {
  position: relative;
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.page-address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.page-address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition-property: color;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}


/*-------section-1---------*/

.section-one {
  background-color: #2E2F42;
  padding: 188px 0;
  background-image: linear-gradient(
    to bottom, 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: auto;
    background-size: cover;
}

.title-one {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.container .button {
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  display: block;
  margin: 0 auto;
  transition-property: color, background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*-------section-2---------*/

.section-two {
  padding: 120px 0;
}

.section-two .container {

}

.list-icon {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.icon-li {

}

.guality-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-item .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.benefits-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }


/*-------section-3---------*/

.section-team {
  background-color: #F4F4FD;
  padding: 120px 0
}

.section-team .container {

}

.our-team {
  margin-bottom: 72px
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .team-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

.team-foto {

}

.container-name-speciality {
  padding: 32px 0;
}

.container-name-speciality .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}

  .container-name-speciality .speciality {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.container-name-speciality .media {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.media-icon {
  width: 40px;
  height: 40px;
}

.media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: color, background-color;
}

.media-icon .link {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media .link:hover,
.media .link:focus {
  background-color: #404BBF;
}


/*-------section-4---------*/

.section-portfolio {
  padding: 120px 0 120px 0;
}

.section-portfolio .container {

}

.our-portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-foto {

}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.container-title-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.container-title-text .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.container-title-text .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/*----------footer-----------*/

.container-footer {
  background-color: #2E2F42;
  padding: 100px 0;
}

.container-footer .container {
  display: flex;
  align-items: baseline;
}

.container .logo-text {
  margin-right: 120px;
}

.container-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #F4F4FD;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
}

.media-footer {
  margin-right: 80px;
}

.media-footer .title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-size: 16px;
}

.media-icon-footer {
  display: flex;
  gap: 16px;
}

.media-icon-footer .icon-footer {
  width: 40px;
  height: 40px;
}

.icon-footer .link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer .icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-label {

}

.footer-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  background-color: transparent;
}

.footer-form-input::placeholder {
  color: #FFFFFF;
}

.footer-form-button {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}

.icon-footer .link:hover,
.icon-footer .link:focus,
.icon-footer .link:active {
  background-color: #31D0AA;
}


/*-----modal--is-open-------*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close,
.modal-button-close:active .modal-icon-close {
  fill: #FFFFFF;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
  background-color: #404bbf;
  border: none;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  }

.form-icon-inptut {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:active,
.form-textarea:focus,
.form-textarea:active {
  border-color: #4D5AE5;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-inptut:focus-within .form-icon,
.form-icon-inptut:active .form-icon {
  fill: #4d5ae5;
}

.comment-label {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  margin-bottom: 24px; 
}

.visually-hidden {

}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.checkbox-icon {

}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: revert;
}

.form-button {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link:hover,
.link:focus,
.link:active {
  color: #404bbf;
}

.button:hover,
.button:focus, 
.button:active,
.footer-form-button:hover,
.footer-form-button:focus, 
.footer-form-button:active,
.form-button:hover,
.form-button:focus, 
.form-button:active {
  background-color: #404BBF;
}


/*------------@media-768px-------------*/

@media screen and (max-width: 768px) {

  img {
    display: block;
    max-width: 100%;
  }

  .container {
    max-width: 768px;
    padding: 0 16px;
  }


  /*----header-----*/
  .logo-page-nav .logo-link {
    margin-right: 120px;
  }

  .page-address {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    gap: 12px;
  }

  .page-address .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /*---section-1---*/
  .section-one {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
      to bottom, 
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/office768.jpg);
  }

  .title-one {
    margin-bottom: 36px;
  }


  /*---section-2---*/

  .section-two {
    padding: 96px 0 48px;
  }

  .guality-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .list-icon {
    display: none;
  }

  .benefits-item .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .benefits-item .text {
    margin-bottom: 48px;
    font-weight: 500;
  }


  /*---section-3---*/

  .section-team {
    padding: 96px 0 56px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    }
  
  .team-list .team-item {
    max-width: 264px;
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 40px;
  }


  /*---section-4---*/

  .section-portfolio {
    padding: 96px 0 48px;
  }
  
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    }
  
  .portfolio-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 48px;
  }


    /*---------footer---------*/

  .container-footer {
    padding: 96px 148px 96px 92px;
  }

  .container-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    }
  
  .container .logo-text {
    flex-basis: calc((100% - 24px) / 3);
    margin-right: 0px;
    min-width: 264px;
  }

  .footer-text {
    margin-bottom: 48px;
  }

  .media-footer {
    margin-right: 0px;
  }

  .footer-form-label {
    opacity: 0.3;
  }
  .footer-form-input {
    opacity: 0.6;
  }
}