*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inpyt {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*-----------header------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
  }

.logo-page-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.page-nav,
.page-address {
  display: none;
}

.mobile-menu-icon {
  padding: 18px 0px;
}
  






.header {
}

.container-modal {
    width: 320px;
    position: relative;
    padding: 72px 24px 40px 16px;
    margin: 0 auto;
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close,
.modal-button-close:active .modal-icon-close {
    fill: #FFFFFF;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
    background-color: #404bbf;
    border: none;
}

.mobal-logo-page {
}

.mobal-page-nav {
    margin-bottom: 168px;
}

.mobal-nav-link {
    margin-bottom: 40px;
}

.mobal-nav-link .link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu.active {
    color: #404bbf;
}

.active {
}

.contacts {
}

.mobal-page-address {
}

.mobal-page-address .address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-address-link {
        margin-bottom: 24px;
    }

    .link.active-tel {
        color: #4D5AE5;
    }

    .address-link {
        margin-bottom: 48px;
    }

.link:hover,
.link:focus,
.link:active {
    color: #404bbf;
}

.contacts .media {
    display: flex;
    justify-content: space-between;
}

.media-icon {
    width: 40px;
    height: 40px;
}

.media .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: color, background-color;
}

.media-icon .link {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media .link:hover,
.media .link:focus {
    background-color: #404BBF;
}














/*------------section-1--------------*/
.section-one {
  background-image: linear-gradient(
    to bottom, 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/officeXX.jpg);
  max-width: 320px;
  padding: 72px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2E2F42;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
      to bottom, 
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/officeXX.jpg);
  }
}

.title-one {
  font-size: 36px;
  line-height: 1.11;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.container .button {
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  display: block;
  margin: 0 auto;
  transition-property: color, background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*------------section-2--------------*/
.section-two {
  padding: 96px 0px;
}

.list-icon {
  display: none;
}

.guality-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.benefits-item .title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.benefits-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

/*------------section-3--------------*/
.section-team {
  background-color: #F4F4FD;
  padding: 96px 0px;
}

.section-team .container {
  padding: 0px 28px;
}

.our-team {
  margin-bottom: 72px;
}

  .team-list {

  }

.team-list .team-item {
  min-width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.container-name-speciality {
  padding: 32px 0;
}

.container-name-speciality .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
}

.container-name-speciality .speciality {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.container-name-speciality .media {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.media-icon {
  width: 40px;
  height: 40px;
}

.media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: color, background-color;
}

.media-icon .link {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media .link:hover,
.media .link:focus {
  background-color: #404BBF;
}


/*------------section-4--------------*/
.section-portfolio {
  padding: 96px 0px;
}

.our-portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  min-width: 288px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-foto {

}

.overlay-text {
  display: none;
}

.container-title-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.container-title-text .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.container-title-text .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/*------------footer--------------*/
.container-footer {
  background-color: #2E2F42;
  padding: 96px 0px;
}

.container-footer .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.container-logo-link,
.media-footer .title,
.footer-form-title {
  display: inline-block;
  text-align: center;
  min-width: 288px;
  margin-bottom: 16px;
}

.logo-accent-footer {
  color: #F4F4FD;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}

.media-footer .title,
.footer-form-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  font-size: 16px;
}

.media-icon-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.media-icon-footer .icon-footer {
  width: 40px;
  height: 40px;
}

.icon-footer .link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-footer .icon {
  fill: #f4f4fd;
}

.footer-form-title {

}

.footer-form {
  
}

.footer-form-input {
  margin-bottom: 16px;
  min-width: 288px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.3;
}

.footer-form-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.footer-form-button {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}


/*------------modal-overlay--------------*/
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  min-width: 288px;
  padding: 72px 16px 24px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close,
.modal-button-close:active .modal-icon-close {
  fill: #FFFFFF;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
  background-color: #404bbf;
  border: none;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  }

.form-icon-inptut {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:active,
.form-textarea:focus,
.form-textarea:active {
  border-color: #4D5AE5;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-inptut:focus-within .form-icon,
.form-icon-inptut:active .form-icon {
  fill: #4d5ae5;
}

.comment-label {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: var(--light-slate);
  opacity: 0.5;
}

.checkbox {
  margin-bottom: 24px; 
}

.checkbox-label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  position: absolute;
  top: 7px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: revert;
}

.form-button {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.checkbox-link,
.checkbox-text {
  padding-left: 24px;
}


/*------------@media-768px-------------*/
@media screen and (min-width: 768px) {

  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  /*----header-----*/
  .logo-page-nav .logo-link {
    margin-right: 120px;
  }

    .page-nav,
    .page-address {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }

  .nav-link .link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link.active {
    position: relative;
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
  }

  .page-address {
    padding-top: 12px;
    padding-bottom: 12px;
    flex-direction: column;
    gap: 12px;
  }

  .page-address .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .mobile-menu-icon {
    display: none;
}

  /*-----section-1-----*/
  .section-one {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
      to bottom, 
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/office768.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/office768.jpg);
    }
  }

  .title-one {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }


  /*---section-2---*/
  .section-two {
    padding: 96px 0px;
  }

  .guality-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .list-icon {
    display: none;
  }

  .benefits-item .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .benefits-item .text {
  
  }


  /*---section-3---*/
  .section-team {
    padding: 96px 0px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    }
  
  .team-list .team-item {
    max-width: 264px;
    flex-basis: calc((100% - 24px) / 2);
  }


  /*---section-4---*/
  .section-portfolio {
    padding: 96px 0px;
  }
  
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    }
  
  .portfolio-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }


    /*---------footer---------*/
  .container-footer {
    padding: 96px 0px 96px 108px;
  }

  .container-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
    padding: 0px;
    }
  
  .container .logo-text {
    flex-basis: calc((100% - 24px) / 3);
    margin-right: 0px;
    min-width: 264px;
  }

  .container-logo-link,
  .media-footer .title,
  .footer-form-title {
    text-align: left;
    min-width: 115px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-input {
    margin-bottom: 0px;
  }

  .media-icon-footer {
    justify-content: flex-start;
  }


  /*-----modal---------*/
  .modal {
    min-width: 408px;
    padding: 72px 24px 24px;
  }

  .checkbox-span {
    position: initial;
    top: -0.99px;
  }

  .checkbox-link, .checkbox-text {
    padding-left: 0px;
}
}


/*------------@media-1158px-------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /*-----------header------------*/
  .logo-page-nav .logo-link {
    margin-right: 76px;
  }


  .page-address {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    flex-direction: row;
  }

  .page-address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
  }

  .link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .mobile-menu-icon {

  }


  /*-------section-1---------*/
  .section-one {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
      to bottom, 
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/office.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/office.jpg);
    }
  }

  .title-one {
margin-bottom: 48px;
  }


  /*-------section-2---------*/
  .section-two {
    padding: 120px 0;
  }

  .list-icon {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .guality-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-item .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .benefits-item .text {
    font-weight: 400;
    }


  /*-------section-3---------*/
  .section-team {
    padding: 120px 0
  }

  .section-team .container {
    padding: 0px 15px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-list .team-item {
    width: calc((100% - 72px) / 4);
    }


  /*-------section-4---------*/
  .section-portfolio {
    padding: 120px 0px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .box-overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio-foto {

  }

  .overlay-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay-text {
    transform: translateY(0);
  }


  /*----------footer-----------*/
  .container-footer {
    padding: 100px 0;
  }

  .container-footer .container {
    flex-wrap: nowrap;
      max-width: 1158px;
      padding: 0 15px;
      gap: inherit;
  }

  .container .logo-text {
    max-width: 264px;
    margin-right: 120px;
  }

  .footer-text {
    max-width: 264px;
  }

  .container .media-footer {
    margin-right: 80px;
  }

  .icon-footer .link {
    transition-property: color, background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-form-input {
    min-width: 264px;
    color: #ffffff;
    opacity: inherit;
  }

  .footer-form-input::placeholder {
    color: #FFFFFF;
    opacity: inherit;
  }

  .footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-form-icon {

  }

  .icon-footer .link:hover,
  .icon-footer .link:focus,
  .icon-footer .link:active {
    background-color: #31D0AA;
  }

  .link:hover,
  .link:focus,
  .link:active {
    color: #404bbf;
  }

  .button:hover,
  .button:focus, 
  .button:active,
  .footer-form-button:hover,
  .footer-form-button:focus, 
  .footer-form-button:active,
  .form-button:hover,
  .form-button:focus, 
  .form-button:active {
    background-color: #404BBF;
  }
}